
/* tags/divs each frame ****/


/* frame frame ************/
/* article */
.article{
}
.article > .part{
}


/* side-navi */
.side-navi{
}
.side-navi > .part{
    margin-bottom: var(--space0); /* 2/0/-2 */
}

/* sidebar configs *************************************/
.side-navi .hpcss{
    background-color: var(--color-base);
    padding: 0 var(--space0) 0 calc(var(--space0) + var(--space-2));
}

.side-navi ul{
    margin:0; border:0; padding:0;
    margin-left: var(--space0);
}

.side-navi ul > li{
    margin:0; border:0; padding:0;
    margin-left: var(--space-2);
}

.side-navi a:link{
    text-decoration:none;
}
                 







/* frame-parts **************/

/* basically used in main bar */
.head {}
.content {} 
.foot {}
.comment {}
.edit{}

/* basically used in sub menu*/
.links{}
.page-states{}

/* used in many parts  */
.page-tree{
}
.site-map{}
.analysis{ /* such as acess data */}
.log {}






/* article configs ***********************************/

/* chapter stand */
/* order is ({chapter -> section -> subsection}) */
.article .chapter{
    margin: var(--space2) 0;
}
.article .section{
    margin: var(--space0) 0;
}
.article .subsection{
    margin: var(--space-2) 0;
}


/* element of chapter/section/subsection */
/* basically order is <sec/chap>[{topic -> letter -> appindex -> <next chap>}]*/
/* appindex is such as references, table, list, image, video and so on*/
/* topic/letter/appindex is not clearly written in html.article.<sec/cap> */
/* .article.content.topic{} .article.content.letter{} .article.content.appindex{} */


/* tags ***/


.article h1{
    font-size: var(--font-size-biggest);
    color: var(--color-accent-front);
    font-weight: bold;
}
.article h2,h3{
    font-size: var(--font-size-large);
    border-left: solid var(--space0) var(--color-main);
    border-right: solid var(--space0) var(--color-main);
    border-bottom: var(--box-style-border);
    padding-left: var(--space-2);
    background-color: var(--color-base);

}
.article h4{
    font-size: var(--font-size-usual);
    font-weight: bold;
    border-top: var(--box-style-border);
    /*border-left: var(--box-style-border);
    padding-left:  calc(var(--space-2) + var(--space0));
   */
    border-left: solid var(--space0) var(--color-main);
    padding-left: var(--space-2);
}
.article h5,h6{
    font-size: var(--font-size-usual);
    font-weight: bold;
    padding-left: var(--space0);
    border-top: var(--box-style-border);
}


