/* page frame wark ***/

.page-frame{
    padding: var(--space-1) 0;

    border-style: solid;
    border-color: transparent;
    border-width: 0  var(--space0) 0 var(--space0) ;
    
    overflow:hidden;
    box-sizing: border-box;

    width: 100%;
}
.page-frame.header, .page-frame.footer{    
    background: var(--color-main);
}
.page-frame.wrapper{
    border-color: var(--color-base);
    flex:1;

}
.page-frame.main {
    float: left;
    border-width: 0 var(--space-1) 0 var(--space-1);
    --mainbar-width : calc(100% - var(--sidebar-width));
    width : var(--mainbar-width);    
}
.page-frame.side {
    float: right;
    border-width: 0 var(--space-1) 0 var(--space-1);
    width: var(--sidebar-width);
}

/* for frame responsive */
@media screen and (max-width: 670px){
    .page-frame.wrapper{
        width: auto;
        border: 0;
    }
    .page-frame.main, .page-frame.side{
        float:none;
        border-width: 0 var(--space0) 0 var(--space0);
        width:100%;
    }
}
